ul {
	margin : 0;
	padding : 0;
	list-style-type : none;
}

li {
	display : inline-block;
	margin-right : 20px;
}

h2 {
	color : red;
	text-align : center;
}
			
button {
	background : blue;
	color : white;
	border-radius : 25px;
}
section {
	background : white;
	color : black;
	padding : 20px;
	display : flex;
}

div {
	background : white;
	margin : auto;
	width : 100px;
	
}